{% extends "polls/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% if polls %}
                        {% for poll in polls %}
                            <li class="list-group-item"><a href="{% url "polls:detail" poll.id %}">{{ poll.question_text }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item-warning">No Polls Created Yet!</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}