{% extends "polls/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% if polls %}
                        {% for poll in polls %}
                            <li class="list-group-item">
                                {% if user.is_authenticated %}
                                    <a href="{% url "polls:detail" poll.id %}">{{ poll.question_text }}</a> -
                                    <a href="{% url "polls:result" poll.id %}" class="label label-success">Result</a>
                                {% else %}
                                    <a href="{% url "polls:result" poll.id %}">{{ poll.question_text }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item list-group-item-danger">No Polls Created Yet!</li>
                    {% endif %}
                </ul>
                {% include "polls/pagination.html" with pages=polls %}
            </div>
        </div>
    </div>
{% endblock %}