{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}TMPolls{% endblock %}</title>
    <link rel="stylesheet" href="{% static "polls/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "polls/css/sweetalert2.min.css" %}">
    <link rel="stylesheet" href="{% static "polls/css/style.css" %}">
    <script src="{% static "polls/js/sweetalert2.min.js" %}"></script>
</head>
<body>
    {% include "polls/navigation.html" %}
    {% include "polls/flash_message.html" %}
    {% block content %} {% endblock %}
    <script src="{% static "polls/js/jquery.js" %}"></script>
    <script src="{% static "polls/js/bootstrap.min.js" %}"></script>
    <script src="{% static "polls/js/main.js" %}"></script>
</body>
</html>