{% if pages.has_other_pages %}
    <ul class="pagination">
        {% if pages.has_previous %}
            <li>
                <a href="?page={{ pages.previous_page_number }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">&laquo;</a>
            </li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {% for page in pages.paginator.page_range %}
            {% if pages.number == page %}
                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
                <li>
                    <a href="?page={{ page }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if pages.has_next %}
            <li>
                <a href="?page={{ pages.next_page_number }}{% if request.GET.s %}&s={{ request.GET.s }}{% endif %}">&raquo;</a>
            </li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
{% endif %}